<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../css/style.css")
        title eval | js
    body
        header
            nav
                a(href="/posts/creat" class="") creer un nouveau defi
                br
                a(href="/showDefi") liste de tous les defi
                br
                a(href="/profil") mon profil
                

        block content       
         
        footer
            p Copyright  Jeune Ecolo      