body{
    background-color :	#f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: #7b9a76;
}
h1{
    color: 	#d7623f;
}
nav{
    display: flex;
    align-items: center;
    border-bottom : 2px solid #d7623f;
    height: 70px;
    margin-bottom: 100px;
}
nav a{
    margin-right: 70px;
    text-transform: uppercase;  
}
/*____________________________ inscription & connexion_________________________________*/
.formulaire,.connexion{
    border: 2px solid 	#1a3a08;
    width: 40% ;
    height: 300px;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    color: #1C3950;
    text-align: center;
}
.create{
    border: 2px solid #1a3a08;
    width: 40% ;
    height: 400px;
    border-radius: 3px;
    text-align: center;
}
label {
    display: inline-block;
    width: 200px;
    text-align: right;
    justify-content: flex-start;
}
input, textarea {
    font: 1.05em sans-serif; 
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 5px;
}  
button{
 width: 150px;
 height: 40px;
 border-color:	#1a3a08;
 color:	#1a3a08;
 background-color: #7b9a76;
 font-family: 'Roboto Condensed', sans-serif;
 border-radius: 5px;
 letter-spacing: 3px;
}
.divForm{
    margin-bottom: 20px;
}
/*____________________________ defis _________________________________*/
