extends ../layout.pug

block content
    section
    div(class="create")
        h1 NOUVEAU DEFI 
        form(action="/posts/newdefi", method="post")
            div
                label(for="title") titre : 
                input(id="title",type="text", name="title" ,value="")
            div
                label(for="content") resumé :
                textarea(name="content", cols="30", rows="10", id="content")
            div
                button(type="submit") Ajouter 

            a(href="/posts/home") liste de tous les defis      