extends ../layout.pug

block content
    section
        //- h1 #{results[0].title}
        each result in results
            article
                h1= result.title
                p= result.content

