extends ../layout.pug

block content
    section(class="blocFormulaire")
    div(class="formulaire")
        h1 INSCRIPTION
        form(action="/posts/register", method="post")
            div(class="divForm")
                label(for="user_name") Nom : 
                input(id="user_name",type="text", name="user_name" ,value="Pseudo02")
            div(class="divForm")
                label(for="user_password") password
                input(id="user_password",type="password", name="user_password", value="azertyuiopmlkj")
            div(class="divForm")
                button(type="submit") Envoyer 

            a(href="/posts/register/login") Déja inscrit ? connectez-vous      